<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인 페이지</title>
</head>
<body>
	
<header th:fragment="header">
	<div>
		<h2><a th:href="@{/}">Decision Log</a></h2>		
	</div>
	<div>
		<ul class="mb_menu" th:if="${session.userId == null}">
			<li><a href="/loginForm">로그인</a></li>
			<li><a href="/regForm">회원가입</a></li>
		</ul>
		<ul class="mb_menu" th:unless="${session.userId == null}">
			<li><a th:href="@{/gomyPage}" th:text="|${session.userNickname} 님|"></a></li>
			<li><a href="/logout">로그아웃</a></li>
		</ul>
		<ul>
			<li><a th:href="@{/goBoard}">게시판</a></li>
			<li>/</li>
			<li><a href="/goOtherDec">기록 둘러보기</a></li>
			<li th:if="${session.userId != null}">/</li>
			<li th:if="${session.userId != null}"><a href="/gomyDecision">나의 기록</a></li>
			
		</ul>
	</div>
</header>


</body>
</html>


