<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>registForm Page</title>
</head>
<body>
	<h1>Regist Page</h1>
	<hr>
	<form action="registProc" method="POST">
		<input type="text" name="username" placeholder="Input username............"/><br>
		<input type="password" name="password" placeholder="Input password............"/><br>
		<input type="text" name="name" placeholder="Input name............"/><br>
		<input type="email" name="email" placeholder="Input email............"/><br>
		<input type="submit" value="등록"/>
	</form>
</body>
</html>