@charset "UTF-8";

/*-----------------------------------*/
html{
    font-size: 100%;
}

body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: rgb(34, 58, 134);
}
a{
    text-decoration: none;
}
img{
    max-width: 70%;
    max-height: 50%;
}

/* HEADER
-----------------------------------*/

.logo{
    width: 210px;
    height: 80px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #0bd;
}
.page-header{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;

}

/* HOME
-------------------------------------------------------*/
.home-content{
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* 제목 */
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* 버튼 */
.button{
    font-size: 1.375rem;
    background: rgb(44, 102, 150);
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover{
    background: #0090aa;
}

/* 큰 배경 이미지 */
.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#home{
    background-image: url(../images/main-bg.jpg), linear-gradient(white, #141B2D);
    background-blend-mode: luminosity;
    min-height: 100vh;
    
}
#home .page-title{
    text-transform: none;
}
.stroke{
    color: white;
    -webkit-text-stroke: 0.1px #141B2D;
}