@charset "UTF-8";
body{
	background-color: #141b2d;
}

#login_section {
	width: 300px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid white;
	padding: 20px;
	border-radius: 10px;
}

#login_section form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	margin-top: 50px;
}

#login_section input{
	margin: 0 auto;
	width: 85%;
	padding: 10px 5px;
}

#login_section #loginBtn{
	background-color: white;
	color: black;
	border: none;
	cursor: pointer;
}

#login_section #loginBtn:hover{
	background-color: grey;
}