@charset "UTF-8";
html {
    overflow-y: scroll;
}
body{
    background-color: #141b2d;
    text-align: center;
}
h1, h3{
    color: white;
}
table{
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    color: white;
    border: 1px solid white;
}
th{
	border-bottom: 1px solid white;
}
ul{
	padding: 0px;
	color: white;
	display: flex;
	gap: 30px;
}
li{
	list-style: none;
}
a{
	color: inherit;
}
.div0{
	width: 300px;
	border-bottom: 1px solid blakc;
}
.div2{
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: right;
}

div{
	color: white;
}

/* 전체 스크롤바 영역 */
::-webkit-scrollbar {
    width: 7px;      /* 세로 스크롤바 두께 */
    height: 7px;     /* 가로 스크롤바 두께 */
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
    background: #141b2d;
    border-radius: 7px;
}

/* 움직이는 막대 */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 7px;
    border-radius: 0;
}

/* 마우스 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
    background: white;
}