<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <!-- 로그 경로 -->
   <property name="LOG_PATH" value="logs"/>

   <!-- 로그 패턴 -->
   <property name="LOG_PATTERN"
      value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.m - %msg%n"/>

   <!-- 콘솔 로그 -->
   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>${LOG_PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- 파일 로그 -->
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}/app.log</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
         <!-- 로그 파일 이름 -->
         <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

         <!-- 파일 최대 크기 -->
         <maxFileSize>1MB</maxFileSize>

         <!-- 보관 기간 -->
         <maxHistory>1</maxHistory>

         <!-- 총 로그 용량 제한 -->
         <totalSizeCap>10MB</totalSizeCap>
      </rollingPolicy>

      <encoder>
         <pattern>${LOG_PATTERN}</pattern>
      </encoder>
   </appender>

   <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
   </root>

</configuration>